.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 28rem;
    height: auto;
    color: #29293d;
    font-size: 2rem;
    font-weight: 900;
    background-color: #b3b3cc;
    border: solid 0.3rem #b3b3cc;
    transition-duration: 0.3s;
    border-radius: 0.4rem;
    cursor: pointer;
}

.btn:hover {
    background-color: darken(#b3b3cc, 20%);
    border: solid 0.3rem (darken(#b3b3cc, 20%));
    // transform: scale(1.5);
}